#image{
    border-radius: 50%;
    margin-top: 10px;
}
#randomUser{
    margin: 0 auto;
    width: 400px;
    border: 1px solid lightgrey;
    box-shadow: 10px 10px 40px gray;
    margin-top: 50px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    color: pink;
    background-color: tomato;
    border-radius: 20px;
}
p{
    font-size: 18px;
}